## Basic Data type or structure in python

#### 1- Tuple
#### 2- Dict
#### 3- list
#### 4- set

### 1_Tuple: 

##### Ordered collection of elements, in closed in () , immutable.

Recall that a list is a collection of ordered objects. The main characteristic of the tuple is that once created, it cannot be modified. That is why they are referred to as “immutable lists.”  

We cannot append, insert or remove any data (neither delete nor insert). Python objects are sometimes divided into mutable and immutable. As the name implies, immutable objects cannot be modified after they are created.  

You can easily tell a tuple from a list because the tuple’s elements are enclosed between parentheses instead of square brackets. Tuple is a data structure where we can store any kind of data.  

NOTE: we can use methods with tuple like count, index, len methods and slicing.

In [13]:
tup0 = (1, "python", True, 2.5 )

In [14]:
tup0

(1, 'python', True, 2.5)

In [15]:
type(tup0)

tuple

###### indexing in tuple

In [20]:


tup0[0]

1

In [21]:
tup0[1]

'python'

In [22]:
tup0[2]

True

In [23]:
tup0[3]

2.5

In [24]:
tup0[0:3]

(1, 'python', True)

In [25]:
tup0[0:4]

(1, 'python', True, 2.5)

In [28]:
tup0[-3:4]

('python', True, 2.5)

###### concatinate, max and min value

In [32]:
tup1 = (20, "javascipt", False, 3)
tup1

(20, 'javascipt', False, 3)

In [33]:
tup0 + tup1

(1, 'python', True, 2.5, 20, 'javascipt', False, 3)

In [35]:
tup0 * 2 + tup1

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 20, 'javascipt', False, 3)

In [36]:
tup2 = (5,15,25,35,45,45)

In [37]:
min(tup2)

5

In [38]:
max(tup2)

45

### 2- List:  Ordered collection of elements, in closed in [ ] , mutable.

List is a data structure in which we can store ordered collections of items. 
We can store anything in a list like int, plot and string.

In [39]:
list1 = ["ajab", 1, True, 10.5]

In [40]:
list1

['ajab', 1, True, 10.5]

In [41]:
type(list1)

list

##### There are three methods to add data to the list 

###### 1-Append method:
Append method is used for adding new data to the list. For example. 
Note: append method add data to the list at the end. 

###### 2-Insert method 

Insert method used for adding data to the list: 
With insert method we can inter data in a specify position. 

###### 3-Extend method 

Extend method is used to extend the items of one list by merging the items of another list without mentioning the [ ] list brackets.

In [56]:
# append method

list2 = ["apple", "orange"] 
list2.append("mangos")

In [57]:
list2

['apple', 'orange', 'mangos']

In [63]:
macro_mol = []

macro_mol.append("DNA")

macro_mol.append("carbohydratres") 

macro_mol.append("lipids") 

macro_mol.append("protien")

In [64]:
macro_mol

['DNA', 'carbohydratres', 'lipids', 'protien']

In [71]:
# insert method 
fruits = ["mango", "apple"] 

fruits.insert(1, "graps") # add graps at position one

In [72]:
fruits

['mango', 'graps', 'apple']

In [77]:
# extend method 
lista = ["ajab"]
listb = ["gul"]

In [78]:
lista.extend(listb)
lista

['ajab', 'gul']

##### 4- reverse method
to reverse the list items

In [88]:
raevers_dna = ["A", "C", "C", "T", "G", "G"]

In [97]:
revers_dna.reverse()
revers_dna

['G', 'G', 'T', 'C', 'C', 'A']

##### 5- Count method

In [107]:
revers_dna.count("G")

2

In [108]:
revers_dna.count("A")

1

In [109]:
revers_dna.count("C")

2

In [110]:
revers_dna.count("T")

1

##### 6- remove

In [115]:
dna = ["A", "C", "C", "T", "G", "G"]

In [116]:
dna.remove("G")
dna

['A', 'C', 'C', 'T', 'G']

### 3-Dictionareis:  
###### unorderd collection of method,
###### curly brackers { },
###### Key and value pair,
###### mutable
Dictionaries are a special data type not present in all programming languages. The main characteristic of a dictionary is that it stores random indexed unordered data types.  

Dictionaries are unordered collection data in key : value pair in curly brackets {}.  

We can store any type of data in dictionaries. 

Why we use Dictionaries? Because of the limitation of the list, lists are not enough to represent real data.

In [123]:
user = {'name':'ajab','age':25,'furite_movies':'rabmo'}

In [124]:
user

{'name': 'ajab', 'age': 25, 'furite_movies': 'rabmo'}

In [125]:
type(user)

dict

###### extract data from dict keys and values

In [129]:
user.keys()

dict_keys(['name', 'age', 'furite_movies'])

In [130]:
user.values()

dict_values(['ajab', 25, 'rabmo'])

##### adding new elements

In [132]:
user

{'name': 'ajab', 'age': 25, 'furite_movies': 'rabmo'}

In [133]:
user["sports"]= "boxing"

In [134]:
user

{'name': 'ajab', 'age': 25, 'furite_movies': 'rabmo', 'sports': 'boxing'}

##### updating the current value ex age

In [136]:
user["age"] = 30

In [137]:
user

{'name': 'ajab', 'age': 30, 'furite_movies': 'rabmo', 'sports': 'boxing'}

In [140]:
user1 ={"education":"masters", "job": "fullstackdeverloper", "salary": "80000"}
user1

{'education': 'masters', 'job': 'fullstackdeverloper', 'salary': '80000'}

##### concatinate two dict using update function

In [141]:
user.update(user1)

In [142]:
user

{'name': 'ajab',
 'age': 30,
 'furite_movies': 'rabmo',
 'sports': 'boxing',
 'education': 'masters',
 'job': 'fullstackdeverloper',
 'salary': '80000'}

## 4- sets { } : unordered and unindexed, no duplicate allow, curly braces used { }
Set is unordered collection of unique items. No key and value pair are used, but we use curly braces {}. We can store int and string but not lists and dictionaries. 

Sets are unordered collection of items we cannot perform indexing with it. 

Set print the duplicate items as a single item (unique) mean the item can’t be repeated.